@import "../../globalStyles/colors.scss";

.header {
  display: flex;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid $light-border-color;
}

.link {
  display: inline-block;
  padding: 10px;
}
